/*Changes the look of elements and how they are interacted with*/
body {
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: #2c2f33;
  cursor: default;
}

button {
  font-size: 150%;
  border-radius: 20px;
  padding: 0.35%;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #275edc;
  transition-duration: 0.2s;
  cursor: pointer;
}

a {
  color: #a93226;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c2f33;
}

li {
  float: left;
  padding: 0.74% 0.85%;
  cursor: pointer;
  background-color: #42474d;
  border: 2px solid white;
}

.title {
  text-decoration: underline;
}

.updates {
  text-align: left;
  overflow: auto;
  height: 50vh;
}

.icon {
  float: right;
  width: 3%;
  height: 3%;
  cursor: pointer;
}

.active {
  background-color: #275edc;
}

/*Changes the look of elements when highlighted*/
body::selection {
  color: white;
  background: #a93226;
}

p::selection {
  color: white;
  background: #a93226;
}

b::selection {
  color: white;
  background: #a93226;
}

h1::selection {
  color: white;
  background: #a93226;
}

h2::selection {
  color: white;
  background: #a93226;
}

h3::selection {
  color: white;
  background: #a93226;
}

h4::selection {
  color: white;
  background: #a93226;
}

button::selection {
  color: white;
  background: #a93226;
}

li::selection {
  color: white;
  background: #a93226;
}

.icon::selection {
  background: #a93226;
}

/*Button effects*/
button:hover {
  background-color: #a93226;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(10%);
}

li:hover {
  background-color: #2c2f33;
}

.active:hover {
  background-color: #275edc;
}

input {
  width: 20%;
  padding: 1% 1%;
  box-sizing: border-box;
  font-size: 75%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 4px solid white;
  background-color: #42474d;
  color: white;
}

.ee {
}
